extends layout

block content
	script(src="/socket.io-client/socket.io.js")
		
		script.
			var socket = io.connect();
			console.log(socket);
	section(class="left-side")
		div(id="formulaire")
			img(src="/images/logo_cigogne.png" class="logo")
			h1 Bienvenue sur TWR!
			if response
				if response == "Success"
					p(class="response success")
				else if response == "Fail"
					p(class="response fail")
				else
					p(class="response bad")
	
			form(action="/new_twiit",enctype="multipart/form-data", method="POST")
				input(type="text" name="user_name" placeholder="Votre Pseudo")
				textarea(name="twiit", placeholder="Votre twiit")
				input(type="file" name="image")
				button(type="submit") Envoyer
	
	ul
		each twiit in twiits
			li(class="twiits")
				a(href="twiit_page?twiit="+twiit.filename)
					p(class="name")=twiit.name
				img(src=twiit.img class="image_twiit")
				p(class="message")=twiit.message
				p(class="date")=twiit.date
	
	script(type='text/javascript' src='/javascripts/index.js')
