extends layout

block content
	section(class="left-side")
		img(src="/images/logo_cigogne.png" class="logo")
		h1 Bienvenue sur TWR!s
		if response
			if response == "Success"
				p(class="response success")
			else
				p(class="response fail")
	
		form(action="/new_twiit",method="POST")
			input(type="text" name="user_name" placeholder="Votre Pseudo")
			textarea(name="twiit", placeholder="Votre twiit")
			button(type="submit") Envoyer
	
	ul
		each twiit in twiits
			li(class="twiits")
				p(class="name")=twiit.name
				p(class="message")=twiit.message
				p(class="date")=twiit.date
