doctype html
html
  head
<<<<<<< .merge_file_G3YKUf
    title #{title}    
=======
    link(href="/images/favicon.png", rel="shortcut icon")
    title #{title}
    script.        
        console.log('#{twiits}');
>>>>>>> .merge_file_gM8inf
    link(rel='stylesheet', href='/stylesheets/style.css')
    img(src="/images/logo_cigogne.png")
    
  body
    block content	
    script(type='text/javascript', src='/javascripts/index.js')
