doctype html
html
  head
    link(href="/images/favicon.png", rel="shortcut icon")
    title #{title}
    script.        
        console.log('#{twiits}');
    link(rel='stylesheet', href='/stylesheets/style.css')
    img(src="/images/logo_cigogne.png")
    
  body
    block content
script(type='text/javascript', src='/javascripts/index.js')
