body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9B4E2;
  display: table;
  margin: 0;
  width: 100%;
}

a {
  color: #00B7FF;
}


.response {
	padding-left:10px;
	margin-left:5px;
	width:100%;
	height: 30px;
	border: 1px solid black;
	position: relative;
	border-radius: 5px;
}

.success{
	background-color: #66FF33;
	background-image: url(../images/valide.png);
	background-repeat: no-repeat;
	background-position: left;
	}

.fail{
	background-color: #FE3A3C;
	background-image: url(../images/refuse.png);
	background-repeat: no-repeat;
	background-position: left;
	}

.success::before {
	display: block;
	margin-left: 35px;
	margin-top: 7px;
	content: "Votre twiit est chez nous !";
}

.fail::before{
	display: block;
	margin-left: 35px;
	margin-top: 7px;
	content: "Ah bah c'est pas bon";
}

.twiits
{	
margin: auto;
	margin-bottom: 5px;
	padding:6px;
	box-sizing: border-box;
	border: 4px solid #F95B90;
	border-radius: 5px;
	background-color: #F97AA4;
	min-width: 200px;
	max-width: 100%;}

section {
	padding-top: 50px; 
	text-align: center;
	display: table-cell;
	width: 350px;
	position: fixed;
}

ul
{
	vertical-align: top;
	margin-left: 350px;
	padding: 50px;
	list-style: none;
}

input[type="text"]
{
	margin: auto auto 10px auto;
	display: block;
	width: 90%;
	padding: 5px;
	outline-color: #DF00EF;
	box-sizing: border-box;
}

textarea
{
	margin: auto auto 10px auto;
	display: block;
	width: 90%;
	height: 100px;
	padding: 5px;
	box-sizing: border-box;
	outline-color: #DF00EF;
	resize:none;
}

.image_twiit{
	border: solid red 2px;
	display:inline;
	margin: auto 50px auto auto;
	display:inline;
}

