body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ECF5F8;
  text-align:center;
  margin: 0;
  width: 100%;
}

a {
	color: #00B7FF;
	text-align:left;
}

/*********************************************/

.image_twiit
{
	max-width:95%;
	margin: 20px auto 20px auto;
}
.message
{
	border: solid #96BDFF 3px;
	border-radius: 5px;
	text-align:left;
	background-color: #96E7FF;
	margin:auto;
	padding:4px;
	width: 80%;
	overflow:auto;
	word-wrap:break-word;
}

ul
{
	list-style:none;
	width: 100%;
	padding:0px;
}

li
{
	width: 80%;
	border-bottom: solid black 1px;
	margin: 0px auto 10px auto;
	padding: 5px;
	overflow:auto;
	word-wrap: break-word;
}

.user
{
	margin:auto;
	display:block;
}

.commentaire
{
	margin:10px auto 10px auto;
	display:block;
	resize:none;
	height:100px;
	width: 40%;
	
}

.hide
{
	visibility:hidden;
	display:none;
}

input[type="submit"]
{
	display:block;
	position:center;
}

form
{
	margin:50px;
}

