body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9B4E2;
  text-align:center;
  margin: 0;
  width: 100%;
}

a {
  color: #00B7FF;
}

/*********************************************/


