/* BASE SETTINGS */
body {
    position: absolute;
    margin: 0;
    width: 100%;

    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    text-align: center;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
li {
    list-style:none;
}

.warp {
    table-layout: fixed;
    display: table;
    width: 100%;
}

a {
    color: #0968aa;
}

/* WS */
.ws {
    z-index: 50;
    position: fixed;
    top: 0;
    left:30px;
    height: 35px;
    width: 140px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    line-height: 3em;

    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 2px #666666;
    -moz-box-shadow: 0 1px 2px #666666;
    box-shadow: 0 1px 2px #666666;

    font-size: 0.9em;
}

/* LOGO */
.logo {
    margin-bottom: 20px;
}

/* SEND TWIIT */

section {
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    display: table-cell;
    width: 400px;
}

#formulaire, #search-panel {
    margin-top: 20px;
    padding: 30px;

    -moz-box-shadow: 1px 1px 5px 0px #9b9b9b;
    -webkit-box-shadow: 1px 1px 5px 0px #9b9b9b;
    -o-box-shadow: 1px 1px 5px 0px #9b9b9b;
    box-shadow: 1px 1px 5px 0px #9b9b9b;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);

    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.input-name {
    margin: auto auto 10px auto;
    width: 100%;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, serif;
    border: 1px dashed #75c2ff;
}

.input-search {
    margin-bottom: 0;
    margin-right: 10px;
    width: 75%;
}

button {
    padding: 4px;
}

textarea {
    border: 1px dashed #75c2ff;
    margin: auto auto 10px auto;
    display: block;
    width: 100%;
    height:50px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    resize:none;
    font-family: Arial, serif;
}

.boutton_send {
    margin: auto;
    margin-top: 20px;
    display: block;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 3px #666666;
    -moz-box-shadow: 0 1px 3px #666666;
    box-shadow: 0 1px 3px #666666;
    font-family: Arial, serif;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    border: solid #9ed2f0 2px;
    text-decoration: none;
    outline: none;
}

.boutton_send:hover{
    cursor: pointer;
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/* TWIIT */

.elapsed-time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;

}

.twiit-list {
    box-sizing: border-box;
    padding: 50px 30px 30px 0px;
    display: table-cell;
    vertical-align: top;
    list-style: none;
}

.twiits {
    position: relative;
    min-width: 300px;
    width: 100%;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(140, 200, 240, 0.2);
    -moz-box-shadow: 0px 1px 2px 0px #656565;
    -webkit-box-shadow: 0px 1px 2px 0px #656565;
    -o-box-shadow: 0px 1px 2px 0px #656565;
    box-shadow: 0px 1px 2px 0px #656565;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=2);
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    text-align: left;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.twiits:hover {
    -moz-box-shadow:inset 0px 1px 2px 0px #656565;
    -webkit-box-shadow:inset  0px 1px 2px 0px #656565;
    -o-box-shadow:inset  0px 1px 2px 0px #656565;
    box-shadow: inset 0px 1px 2px 0px #656565;
    background-color: rgba(140, 200, 240, 0.4);
}

.twiit-link {
    color: #000;
    text-decoration: none;
}

span.name {
    display: block;
}

.image_twiit {
    max-width: 90%;
}

.name{
    margin-bottom: 2em;
    font-weight:bold;
    color: #2a75a8;
}
.date{
    font-size:10px;
}
.message{
    font-size:20px;
}

.date::before{
    content: "Le "
}

/* PAGINATION */

.pagination {
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.nbPage {
    padding: 5px;
    position: relative;
    top: -10px;
}

.next:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 50px;
    border-color: transparent transparent transparent #0968aa;
}

.prev:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 50px 15px 0;
    border-color: transparent #0968aa transparent transparent;
}

/* POP MESSAGE */

.response {
    padding: 10px;
    width:255px;
    height: 30px;
    border: 1px solid #bbbbbb;
    position: relative;
    border-radius: 5px;
    line-height: 2em;
}

.true{
    background-color: #b7ffa6;
    background-image: url(../images/valide.png);
    background-repeat: no-repeat;
    background-position: 5%;
}

.false {
    background-color: #fec8c6;
    background-image: url(../images/refuse.png);
    background-repeat: no-repeat;
    background-position: 5%;
}

/* MODAL */
.cModal {
    z-index: 99;
    position: fixed;
    top: -35px;
    left: 200px;
    width: 140px;
    height: 35px;
    opacity: 0;

    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    font-size: 0.9em;
    text-align: left;
    line-height: 3em;

    background-color: rgba(140, 200, 240, 0.4);
    -webkit-box-shadow: 0 1px 2px #666666;
    -moz-box-shadow: 0 1px 2px #666666;
    box-shadow: 0 1px 2px #666666;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

#close {
    position: absolute;
    top: -16px;
    right: -16px;
}

#close:hover {
   cursor: pointer;
}
